.photo-container { 
    height: 609px;
    right: 15%;
    position: absolute;
    top: 0;
    width: 400px;
    z-index: 0;
}

.giphy-embed {
    border: 1px solid #F9F871;
    border-radius: 20px;
    height: 500px;
    width: 500px; 
}