.logo-container { 
    height: 609px;
    right: 15%;
    position: absolute;
    top: 20px;
    width: 400px;
    z-index: 0;
}

.solid-logo {
    border-radius: 20px;
    height: 480px;
    width: 480px;
}