.nav-bar {
    background: #181818;
    height: 100%;
    min-height: 500px;
    position: absolute;
    top: 0;
    width: 60px;
    z-index: 3;

    .logo{
        display: block;
        padding: 8px 0;

        img {
            display: block;
            height: auto;
            margin: 8px auto;
            width: 60px;
        }
    }
    nav {
        display: block;
        height: 210px;
        margin-top: -120px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        
        a {
            color: #4d4d4e;
            display: block;
            font-size: 22px;
            height: 51px;
            line-height: 51px;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3x ease-out;
            }

            &:hover {
                color: #F9F871;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }
            &:after {
                bottom: 0;
                content: '';
                display: block;
                font-size: 9px;
                letter-spacing: 2px;
                opacity: 0;
                position: absolute;
                text-align: center;
                transition: all 0.3s ease-out;
                width: 100%;               
            }
            &:first-child {
                &:after {
                    content: 'HOME';
                }
            }
        }
        a.about-link {
            &:after {
                content: 'ABOUT';
            }
        }
        a.contact-link {
            &:after {
                content: 'CONTACT';
            }
        }
        a.portfolio-link {
            &:after {
                content: 'WORKS';
            }
        }
        a.active {
            svg {
                color: #F9F871;
            }
        }
    }
    ul {
        bottom: 20px;
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        width: 100%;

        li{
            a {
                display: block;
                font-size: 15px;
                line-height: 16px;
                padding: 7px 0;

                &:hover svg {
                    color: #F9F871;
                }
            }
        }
    }
}

.hamburger-icon, .close-icon {
    display: none;
}

@media screen and (max-width: 1200px) {
.nav-bar { 
    background: transparent;
    height: auto;
    min-height: auto;
    position: initial;

    ul, nav {
        display: none;
    }
    nav {
        background: #181818;
        height: 100%;
        left: 0;
        margin: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
        
        &.mobile-show {
            display: block;
        }
        
    a {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    a:after {
        margin-left: 10PX;
        opacity: 1;
        position: initial;
        width: auto;
    }

    a svg {
        opacity: 1 !important;
    }
    }

    .hamburger-icon,
    .close-icon {
        cursor: pointer;
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
}
}